* {
  border: 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
}

main {
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  border-radius: 15px;
}

.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  width: 90%;
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 16px;
} 
.text {
  margin: 6% 0;
  text-align: center;
  margin-bottom: 10%;
}
heading {
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  font-size: 25px;
  margin: 4% 0;
}

desc {
  font-size: 17px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  padding: 0 7%;
}
