* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
body {
  background-color: hsl(217, 19%, 24%);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(214, 7%, 58%);
  }
  100% {
    background-color: hsl(216, 13%, 50%);
  }
}
.skeleton-text {
  width: 80%;
  height: 10px;
  margin: 0 auto;
}

.container {
  background-color: hsl(217, 19%, 38%);
  text-align: center;
  padding: 40px 0;
  position: relative;
  width: 342px;
  border-radius: 16px;
}
h1 {
  color: hsl(150, 100%, 66%);
  margin-bottom: 28px;
  font-size: 15px;
}
.advice {
  color: hsl(193, 38%, 86%);
  font-size: 28px;
  font-weight: 800;
  width: 80%;
  margin: 0 auto 25px;
}
img {
  display: block;
}
.divider {
  margin: 0 auto 20px;
  position: relative;
}
.divider span {
  display: inline-block;
  position: relative;
}
.divider:before,
.divider:after {
  content: "";
  display: block;
  border-bottom: 1px solid hsl(193, 38%, 86%);
  width: 120px;
  position: absolute;
  top: 42%;
  height: 1px;
}
.divider:before {
  left: 26px;
}
.divider:after {
  right: 24px;
}
.dice {
  position: absolute;
  border: 20px solid hsl(150, 100%, 66%);
  border-radius: 50%;
  left: 40.5%;
  cursor: pointer;
}
.dice:hover {
  box-shadow: 0 0 25px 5px hsl(150deg 100% 66%);
  transition: box-shadow 0.4s ease-out 0s;
}

@media (min-width: 801px) {
  .container {
    width: 480px;
  }
  .dice {
    left: 43.5%;
  }
  .divider:before,
  .divider:after {
    width: 165px;
    height: 1px;
  }
  .divider:before {
    left: 53px;
  }
  .divider:after {
    right: 53px;
  }
}
